article div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#introduction .myimgs {
  background: url(../../public/img/IMG-20210413-WA0020.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#projects {
  max-width: 450px;
  place-self: center start;
}

#hero {
  display: flex;
  font-size: 3.7rem;
  font-weight: 600;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamic-txt {
  margin: 0;
  margin-left: 15px;
  height: 90px;
  white-space: nowrap;
  padding: 0;
  line-height: 90px;
  overflow: hidden;
  text-align: center;
}

.dynamic-txt li {
  list-style: none;
  top: 0;
  position: relative;
  animation: slide 6s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txt li span {
  position: relative;
}

.dynamic-txt li span::after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  width: 100%;
  border-left: 3px solid white;
  left: 0;
  animation: typing 1.5s steps(16) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

#hero {
  margin-bottom: 90px;
}

#contact > h1 {
  padding: 0 10px;
  font-size: 3rem;
}
