article div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#hero-txt {
  font-size: 10vh;
  width: max(300px, 80%);
  text-align: center;
  margin: auto 0;
}

#introduction .myimgs {
  background: url(../../public/img/IMG-20210413-WA0020.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  place-self: center start;
  grid-auto-flow: dense;
}

#contact > h1 {
  padding: 0 10px;
  font-size: 3rem;
}

#thank_you_popup h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#wrapper {
  background-color: rgba(0, 0, 0, 0.719);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#thank_you_popup {
  text-align: center;
  width: max(300px, 30%);
  height: fit-content;
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 20px;
}

@media only screen and (max-width: 1096px) {
  #hero-txt {
    font-size: 5vh;
  }
}
