body {
  counter-increment: section 2;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
